html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  border: none;
  display: inline-block;
}

button:hover,
button:focus,
input:hover,
input:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  bottom: 0px;
  padding: 0px;
  word-spacing: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-image: url("./img/bg.png");
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.interface {
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 40px;
}

textarea {
  width: 200px;
  height: 250px;
  border: 1px solid rgb(148, 148, 148);
  outline: none;
  resize: none;
  padding: 20px 15px;
  margin-right: 20px;
  font-size: 18px;
  box-shadow: 0 0 3px inset rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.input {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border: 1px solid rgb(99, 99, 99);
  box-shadow: 0 0 3px inset rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  font-size: 18px;
}

.input::placeholder {
  font-size: 18px;
  transition: all 0.2s linear;
}

.input:focus::placeholder {
  text-indent: 100%;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
}

.one {
  margin-bottom: 5px;
}

.row2 {
  margin-bottom: 30px;
}
